<div echarts [options]="(chartOptions$ | async)!" class="chart-container"></div>

<p>
  <strong>Dados e Tendências:</strong> Os dados revelam uma comunidade diversa,
  com uma proporção significativa de membros que se autodeclaram como
  <b
    >Pessoas Negras (agregando respostas de pretos e pardos) e Pessoas Brancas. </b
  > A presença de membros que se identificam como <b>Amarelos</b>, junto a
  outras identificações, enriquece a pluralidade da rede. É importante notar a
  categoria "Não informado/Outros", que agrupa aqueles que preferiram não
  responder ou cujas respostas necessitam de uma análise qualitativa mais
  aprofundada.
</p>

<p>
  <b>Insights Estratégicos:</b> Este é um dos indicadores mais críticos para a
  comunidade. Ele serve como uma ferramenta de diagnóstico para as políticas de
  <b>Diversidade, Equidade e Inclusão (DEI)</b>, permitindo avaliar se a composição da
  rede está alinhada com seus objetivos de representatividade. Os dados podem
  direcionar esforços para tornar os processos seletivos ainda mais inclusivos e
  para criar um ambiente onde a multiplicidade de vozes seja não apenas
  presente, mas central nas tomadas de decisão.
</p>
