<div echarts [options]="(chartOptions$ | async)!" class="chart-container"></div>

<p>
  <b>Dados e Tendências: </b>A grande maioria dos membros da comunidade se
  declara <b>solteira(o)</b>, o que é consistente com a faixa etária
  predominante de jovens adultos. As categorias "União Estável" e "Casada(o)"
  representam um segmento menor, mas relevante, de membros que se encontram em
  outra fase da vida pessoal.
</p>

<p>
  <b>Insights Estratégicos:</b> Embora seja um dado demográfico simples, ele ajuda a
  compor o perfil geral da comunidade. Pode indicar, por exemplo, um público com
  maior flexibilidade para participar de eventos, viagens e projetos. Para a
  gestão da comunidade, é um lembrete para planejar atividades que contemplem as
  diferentes realidades e momentos de vida de todos os membros.
</p>
