<div echarts [options]="(chartOptions$ | async)!" class="chart-container mb-5"></div>

<p>
  <strong>Análise:</strong> Este gráfico de barras horizontais ilustra a
  distribuição dos membros entre os diferentes Hubs representados na amostra.
  Observa-se uma concentração significativa nos Hubs de
  <strong>São Paulo I e II, Recife e Curitiba</strong>, indicando uma forte
  presença ou processos de recrutamento mais amplos nessas capitais. Hubs como
  Manaus, Fortaleza, Belo Horizonte e outros também demonstram uma base de
  membros ativa. A existência de múltiplos Hubs em diversas regiões do país,
  incluindo capitais e cidades importantes, reflete a capilaridade nacional da
  rede Global Shapers
</p>

<p>
  <strong>Tendência e Insight:</strong> A forte presença em grandes capitais é
  um ativo estratégico, oferecendo um vasto campo para projetos de grande escala
  e networking. Ao mesmo tempo, a distribuição aponta para uma oportunidade de
  fortalecer o intercâmbio e o apoio aos Hubs com menor número de membros,
  promovendo um crescimento mais equitativo e incentivando colaborações
  inter-regionais para ampliar o impacto coletivo.
</p>
