<div echarts [options]="(chartOptions$ | async)!" class="chart-container"></div>

<p>
  <b>Dados e Tendências:</b> A comunidade é composta majoritariamente por
  pessoas que se identificam como <b>Mulher Cis e Homem Cis</b>. É de extrema
  importância notar a presença de membros que se identificam como Pessoa não
  binária e Mulher Trans, o que, embora em menor número, sinaliza um avanço na
  direção de um ambiente mais inclusivo e diverso.
</p>

<p>
  <b>Insights Estratégicos: </b>A representação de múltiplas identidades de gênero é um
  pilar para qualquer organização que preze pela Diversidade, Equidade e
  Inclusão (DEI). Estes dados são fundamentais para que a comunidade possa
  avaliar e aprimorar suas políticas de acolhimento, garantindo que todas as
  pessoas, independentemente de sua identidade de gênero, sintam-se seguras e
  representadas. A visibilidade de membros trans e não-binários pode inspirar
  ações para fortalecer a equidade de gênero em projetos e posições de liderança
  na rede.
</p>
