<div class="container" style="padding: 20px">
  <h1>Análise de Dados - Global Shapers</h1>

  <div class="d-grid" style="display: grid; grid-template-columns: 1fr 1fr; gap: 3rem">
    <div class="chartContainer">
      <hr />
      <app-hub-chart></app-hub-chart>
    </div>
    <div class="chartContainer">
      <hr />
      <app-age-chart></app-age-chart>
    </div>
    <div class="chartContainer">
      <hr />
      <app-marital-status-chart></app-marital-status-chart>
    </div>
    <div class="chartContainer">
      <hr />
      <app-race-chart></app-race-chart>
    </div>
    <div class="chartContainer">
      <hr />
      <app-professional-areas-chart></app-professional-areas-chart>
    </div>
    <div class="chartContainer">
      <hr />
      <app-gender-identity-chart></app-gender-identity-chart>
    </div>
    <div class="chartContainer">
      <hr />
      <app-education-level-chart></app-education-level-chart>
    </div>
    <div class="chartContainer"></div>
  </div>
</div>
