<div echarts [options]="(chartOptions$ | async)!" class="chart-container"></div>
<div class="analysis-text">
  <p>
    <strong>Dados e Tendências: </strong>Os dados do arquivo mostram que os Shapers são
    um grupo multifacetado. Interesses como Aprendizado e Educação, Viagens e
    Exploração, Literatura e Escrita, e Música aparecem com grande frequência,
    indicando um perfil curioso e culturalmente ativo. Atividades ao Ar Livre e
    Esportes também são populares, assim como Saúde Mental e Bem-Estar,
    refletindo uma preocupação com um estilo de vida equilibrado.
  </p>
  <p>
    <strong>Tendência e Insight:</strong> Este gráfico revela os interesses que
    unem a comunidade fora do âmbito profissional mostram que os Shapers são um grupo multifacetado,
    com grande interesse por
    <strong
      >Aprendizado e Educação, Viagens, Literatura, Música e Atividades ao Ar
      Livre</strong
    >. A popularidade de "Saúde Mental e Bem-Estar" também reflete uma
    preocupação contemporânea e relevante. Conhecer esses interesses é uma
    ferramenta poderosa para fortalecer laços, podendo inspirar a criação de
    grupos de afinidade e eventos sociais que aumentam o sentimento de
    pertencimento.
  </p>
</div>
