<div
  echarts
  [options]="(chartOptions$ | async)!"
  class="chart-container mb-5"
></div>

<p>
  <strong>Dados e Tendências:</strong> A análise dos dados de nascimento
  confirma o perfil da comunidade como uma iniciativa de jovens líderes. A faixa
  etária predominante é a de <strong>25 a 29 anos</strong>, período em que os
  profissionais geralmente estão consolidando suas carreiras e buscando
  ativamente oportunidades de impacto. Existe também uma representação
  significativa nas faixas de <strong>30 a 34 anos</strong> e de
  <strong>18 a 24 anos</strong>, o que demonstra um equilíbrio saudável entre a
  energia de novos membros e a experiência de Shapers mais estabelecidos.
</p>

<p>
  <strong>Insights Estratégicos: </strong>Compreender que a maioria dos membros está em uma fase
  de afirmação profissional e de busca por propósito sugere que a comunidade
  pode focar em oferecer mentorias, projetos de desenvolvimento de liderança e
  oportunidades de networking que acelerem o crescimento pessoal e profissional,
  alinhados à vontade de gerar impacto social.
</p>
