<div echarts [options]="(chartOptions$ | async)!" class="chart-container"></div>

<p>
  <b>Dados e Tendências: </b>A comunidade exibe uma impressionante diversidade
  profissional. As áreas com maior destaque são
  <b
    >Consultoria e Negócios, Educação e Pesquisa, Comunicação e Marketing, e
    Tecnologia.</b
  >
  Além disso, há uma forte presença de Shapers atuando no <b>Setor Público</b>,
  em <b>ESG (Ambiental, Social e Governança)</b> e no campo <b>Jurídico.</b>
</p>

<p>
  <b>Insights Estratégicos:</b> O perfil profissional dos membros é o motor da
  capacidade de execução da rede. A predominância de áreas ligadas à estratégia,
  tecnologia e comunicação posiciona a comunidade de forma ideal para
  desenvolver projetos inovadores e com grande alcance. Essa diversidade é um
  convite aberto à colaboração, permitindo que um Shaper da área da saúde, por
  exemplo, encontre facilmente parceiros em tecnologia e gestão para escalar uma
  solução.
</p>
