<div echarts [options]="(chartOptions$ | async)!" class="chart-container"></div>

<p>
  <b>Dados e Tendências:</b> Os dados revelam um capital intelectual
  notavelmente elevado. A grande maioria dos membros possui ou está cursando o
  ensino superior, com as categorias
  <b>Graduação Completa e Graduação Incompleta</b> formando a base mais ampla da
  comunidade. Além disso, há uma concentração expressiva de membros com títulos
  de pós-graduação, incluindo
  <b>Pós-graduação/Especialização, Mestrado e Doutorado</b>, tanto completos
  quanto em andamento.
</p>

<p>
  <b>Insights Estratégicos:</b> O alto nível de qualificação acadêmica é um dos maiores
  ativos da comunidade Global Shapers. Essa tendência demonstra que a rede atrai
  indivíduos com sólida formação teórica e capacidade analítica. Para a
  comunidade, isso representa um imenso potencial para o desenvolvimento de
  projetos de impacto social que sejam não apenas apaixonados, mas também
  tecnicamente robustos, baseados em evidências e capazes de enfrentar desafios
  complexos com profundidade e rigor.
</p>
